<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macbitsgoa.events">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- "deep links" https://developer.android.com/studio/write/app-link-indexing.html -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${deepLinkDomain}"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eateries.EateriesActivity"
            android:enabled="@bool/eateries"
            android:label="@string/title_activity_eateries"
            android:parentActivityName=".home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.macbitsgoa.events.home.HomeActivity" />
        </activity>
        <activity android:name=".aboutfest.AboutFestActivity"></activity>
    </application>

</manifest>